body{
  background-color:#f4f5f6;
}
p,a,h1,h2,h3,h4,h5,h6{
  font-family: "Rubik";
}
h4,h5,a{
  color:black;
  font-weight: bold!important;
  font-size: 1.2rem;
  margin-bottom: 0!important;
}
body a{
  font-size: 0.9rem;
}
p{
  font-size: 0.8rem;
}
.header-links a{
  padding-bottom: 0!important;
  padding-top: 5px!important;
}
.nowrap{
  white-space: nowrap;
}
.sticky-container{
  position: sticky;
  top:0;
}
.latest-news+li{
  border-top: 1px solid lightgray!important;
}
.main-container{
  background-color: white;
  text-align: left;
}
.header-links-list{
  text-align: left;
}
.header-links{
  color:black;
}
.header-top{
  background-color: #f72210;
  height:95px;
  color:white;
}
.header-bot {
  background: white;
}
#SignIn{
  background-color: #f72210;
}
#Subscribe{
  background-color: white;
  color:#f72210;
}
.featured-stories>img{
  width: 95%;
}
.opinion-img{
  width:25%;
}
.opinion p{
  margin-bottom:0;
}
.latest-news-img{
  width:40%;
  float: left;
}
.link-change:hover{
  color:#f72210;
  text-decoration: none!important;
}
.link-underline:hover{
  text-decoration: underline;
  text-decoration-color: #f72210;
}
.editor-container, .slideshow-container{
  margin: 2vw 0;
}
.editor-img{
  width:100%;
  height:90%;
  object-fit: contain;
}
